{% extends 'home.html' %}
{% block content%}
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
   {% if course %}
    {% for i in course %}
  <div class="col">

    <div class="card">
      <img src="{{ i.images.url }}" class="card-img-top" width="250" height="300" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <h6 class="card-title" >{{i.description}}</h6>
        <h4 class="card-title" align="right">{{i.price }}$US</h4>
          <h6><a href="{% url 'detail' i.id %}">  More ..  </a></h6>
      </div>
    </div>
    </div>

    {% endfor %}
    {% endif%}

</div>
    {% endblock%}