{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Courses </title>
{% endblock title %}

{% block content %}

<h4>Courses</h4>
	<div class="row">
{% for course in courses %}
<div class="col-lg-4">
	{% if course.image %}
	<img class="thumbnail" src="{{course.image.url}}" alt="course image">
	{% endif %}
	<div class="box-element product">
		<h6><strong>{{ course.title }}</strong></h6>
		<hr>

		<a class="btn btn-outline-success" href="{% url 'Course:course_detail' course.id %}">View</a>
		<h4 style="display: inline-block; float: right"><strong>{{ course.price }}SR</strong></h4>
	</div>
</div>


		{% endfor %}
	</div>
{% endblock content %}