{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block title %}
    <title>Course | Detail</title>
{% endblock %}

{% block content %}
<div class="card" style=" margin-bottom:4rem; border:none;">
  <img src="{{ course_info.image.url }}" class="card-img-top my-center my-img" style=" width:100vh; height:60vh; ">
  <div class="card-body" >
  <div style="margin-left:auto; margin-right:auto;
width:100vh;" >
    <h2 class="card-title">{{course_info.title}}</h2>
    <p>
        <small>{{course_info.start_date}}</small> |
        <small>{{course_info.duration}} Days</small> |
        <small>{% if course_info.online%} Online {% else %} Onsite {% endif %}</small>
    </p>
    <h5 class="card-text">{{course_info.description}}</h5>
    <div class="d-flex justify-content-between" style="padding-top:1rem;">
        <strong style="color: green; padding-top:1rem;">{{course_info.price}} SR</strong>
        <a class="btn btn-warning" href="{% url 'Orders' course_info.id %}">Add to Chart</a>
    </div><hr>


     {% for item in courses_reviews %}
<div class="card shadow-0 border" style="width: 100%; ">
  <div class="card-body">
      <p class="mb-1"><b>{{item.user.username}}</b> <small>{{item.date}}</small></p>
    <p class="card-text">{{item.comment}}</p>
    <b>{{item.rating}}/9</b>
    </div>
   </div><br>
      {% endfor %}        <!----------------------------<fieldset disabled></fieldset>----->

      {% if user.is_authenticated %}
<div style="padding:1rem; background-color: #FFC300 ; border-radius:10px; ">
    <h5>Write your Review</h5>
     <form method="POST">
       {% csrf_token %}
       {{ form|crispy }}
    <button type="submit" class="btn btn-dark btn-sm" style="margin-top:0.5rem;">Post</button>
</form>
</div>
      {% endif %}
      <!----------------------------------------------------------------------------------------->
  </div>
 </div>

</div >

{% endblock %}